body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 35px;
}

#all {
    height: 98.3vh;
    padding: 8px;
}

.lightMode {
    background: radial-gradient(circle at left, rgba(255, 255, 255, 1) 50%, rgb(100, 100, 100));
    color: black;
    transition: color 1s ease;
}

.darkMode {
    background: radial-gradient(circle at left, rgba(0, 0, 0, 1) 50%, rgb(100, 100, 100));
    color: white;
    transition: color 1s ease;
}