/* ----- UNIVERSAL ----- */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#all{
    margin: 0;
}



/* ----- THEMES ----- */

.lightMode {
    background-color: white;
    color: black;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.darkMode {
    background-color: #1c1c1c;
    color: white;
    transition: color 0.5s ease, background-color 0.5s ease;
}



/* ----- BACKGROUND ----- */

.gradientBg {
    height: 100vh;
    overflow-y: scroll;
    background: radial-gradient(circle at left, transparent 50%, rgb(100, 100, 100));
}



/* ----- NAVBAR ----- */

.nav{
    background-color: #9f9f9f;
    margin: 0;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
}
.fulltitle{
    height: 50px;
    margin-left: 20px;
}



/* ----- THEMECHANGER ----- */

.themechange{
    width: 10%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    transform: translateY(-35%) translateX(-4px);
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: orangered;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: white;
}
input:focus + .slider {
    box-shadow: 0 0 1px white;
}
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
.modeIcon{
    width: 25px;
    height: 25px;
    margin: 0 2px;
}
.moon{
    filter: invert(100%);
    transform: translateX(257%);
    transition: transform .4s ease, filter .4s ease;
}
.sun{
    filter: invert(0%);
    transform: translateX(0%);
    transition: transform .4s ease, filter .4s ease;
}



/* ----- MAIN ----- */

.main{
    margin: 0;
}



/* ----- ICONPLACE ----- */

.iconPlace{
    text-align: center;
}
.iconPlace img{
    height: 300px;
}



/* ----- BUTTONS DIV ----- */

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons button{
    margin: 0 50px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bolder;
    border: 3px solid gray;
    transition: background .2s ease;
}
.buttons button:hover{
    background-color: rgb(175,175,175);
    transition: background .2s ease;
}



/* ----- WELCOME ----- */

.welcome{
    width: 75%;
    display: block;
    margin: 25px auto;
    height: 700px;
}
.welcome h1{
    font-size: 100px;
}
.welcome .iconPlace{
    height: 400px;
}



/* ----- ABOUT ----- */

.about{
    width: 75%;
    display: block;
    margin: 25px auto;
    padding: 0 5px 15px 5px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 35px;
    box-sizing: border-box;
}
.about h2{
    width: fit-content;
    transform: translateY(-40%) translateX(10%);
    font-size: 50px;
    background-color: rgba(122,122,122,1);
    padding: 5px 15px;
    border-radius: 50px;
    margin: 0;
}
.about p{
    margin-top: -20px;
    font-size: large ;
}



/* ----- PROMPT ----- */

.startPrompt{
    width: 75%;
    display: block;
    margin: 25px auto;
    text-align: center;
    background-color: rgba(255,255,255,0.25);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 35px;
}
.startPrompt h1{
    font-size: 50px;
    margin-top: 0;
}



/* ----- FOOTER ----- */

.footer{
    height: 500px;
    background-color: #9f9f9f;
    width: 100%;
}


.icon{
    width: 90%;
}

table{
    width: 100%;
    text-align: left;
}
td{
    width: 50%;
}