body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: gray;
}

.bgLayer1 {
    height: 100vh;
    background: radial-gradient(circle at left, rgba(221, 0, 255, 0.22) 25%, rgba(0, 243, 255, 0.22));
}

.bgLayer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: radial-gradient(circle at bottom, rgba(0, 16, 255, 0.25) 25%, #00000000, #00000000);
}

.bgLoginBoxLayer1 {
    background-color: rgb(73, 114, 114);
    height: 650px;
    width:25%;
    min-width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 16px 10px rgba(0, 0, 0, 0.28), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bgLoginBoxLayer2 {
    height: 100%;
    border-radius: 15px;
    background: radial-gradient(circle at bottom, #bee0e0, #00000000);
}

.loginTop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
}

.logReg {
    width: 50%;
    text-align: center;
}
.logReg button {
    background: none;
    width: 100%;
    height: 100%;
    font-size: 45px;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 15px 15px 0 0;
}

#btnLog:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px 0 0 0;
}

#btnLog:active {
    background: rgba(0, 0, 0, 0.22);
    border-radius: 15px 0 0 0;
}

#btnReg:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 15px 0 0;
}

#btnReg:active {
    background: rgba(0, 0, 0, 0.22);
    border-radius: 0 15px 0 0;
}

.loginBottom {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBottom input{
    margin: 5px;
}

.loginTd {
    padding: 10px;
}

table .loginButtonAlign {
    align-content: center;
    justify-content: center;
}

.loginButtons {
    height: 35px;
    width: 75px;
}

.label {
    color: #fff;
    text-shadow: 2px 2px 8px #000;
    font-weight: bold;
    font-size: 25px;
}

td .input {
    height: 30px;
    width: 275px;
    font-size: 15px;
}

.input {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-bottom: 3.5px solid white;
    border-radius: 2.5px;
    color: white;
    font-weight: bold;
}